<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>

<p>Thanks to Hurricane Irma, the Buccaneers vs. Dolphins Week 1 matchup has been moved to Week 11, and neither team will
    be granted a bye week during the 2017 season. This raises many questions on both teams, as playing 16 consecutive
    weeks of football will put every Buccaneer and Dolphin player at higher risk for injury.
</p>
<p>There is one player in particular, however, who comes to mind when considering how this will impact his season, and
    that is Jay Ajayi. Ajayi did have a nice breakout season in 2016, but that was across 15 games, of which he only
    started 12 and even enjoyed a bye week to catch some rest. He also only had 287 total touches, and if the narrative
    OC Clyde Christensen has been spinning this offseason has legs, they are going to give the ball to Ajayi a lot.
</p>

<p>
    Ajayi has been hyped up this offseason as a three-down back and is in for an increased workload in 2017. Ajayi did
    have 397 touches at Boise State back in 2014, but the Mountain West Conference is not the NFL. After Ajayi, there
    isn’t really a great option to take some of the load off. Neither Damien Williams nor Kenyan Drake has really
    stepped up to grab hold of the change-of-pace back duties.
</p>

<p>
    The fact that Ajayi has already been in the concussion protocol this offseason, and shortly after left another
    practice with a “hydration issue,” it begs the question: how long will Jay Ajayi last this season? Might be a good
    idea to sell high on Ajayi while you still can.
</p>