<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>

<p>The wait is over. It’s time to break out the nachos and break in that new sofa because football season is here! Week
    one kicks off tomorrow with the Kansas City Chiefs and the New England Patriots. Fantasy studs Tom Brady, Rob
    Gronkowski and newly acquired Patriot, Brandin Cooks, kick the season off with an implied team total of 28.25
    points. They’ve got the second highest implied team total of any team on the slate so make sure you’ve got some
    Patriots in your lineups and you’re ready to go tomorrow night!
</p>
<p>Vegas projects three games on the slate to produce combined team totals of over 50 points.There’s going to be plenty
    of scoring and if you do your homework, week one is always the best time to take advantage of less informed
    competition. Most people will tell you week one is a crapshoot. Not true. Certainly there’s less relevant data
    available than what you’ll have midseason, but there’s still plenty of information you can gather to put yourself
    ahead of the competition right from the start.
</p>

<style>
    .article h3 {
        margin-bottom: -10px;
    }
</style>
<h3>Bears @ Falcons</h3>
<p>
    The Atlanta Falcons take on the Chicago Bears this week and last year the Bears defense gave up the second most
    fantasy points to quarterbacks of any defense in the NFL. Matt Ryan and the Falcons come in with the second highest
    implied team total of any team this week and I expect them to put on a show against the Bears. On the other side of
    the ball, you have Jordan Howard and an underrated Bears offense that won’t score enough points to beat the Falcons,
    but that I believe will score enough to keep the game close. Matt Ryan will continue throwing the football, and
    Jordan Howard will be busting off large runs in a high scoring game at the new Mercedes-Benz Stadium.
</p>

<h3>Titans @ Raiders
</h3>
<p> The Tennessee Titans and the Oakland Raiders face off week one with an implied combined team total of over 50
    points. This game promises to be a fantasy gold mind! You’ve got two young franchise quarterbacks coming off of
    impressive seasons with high expectations coming into this season. This game also features two subpar passing
    defenses and I expect both quarterbacks to come out blazing in week one. Vegas anticipates that this game will be
    competitive, ruling it a pick em. That being the case, I wouldn’t expect either of these quarterbacks to slow down.
    If possible, lock and load them for week one.
</p>

<h3>Seahawks @ Packers</h3>
<p>Whenever these two teams get together it seems to make for an interesting game. From Matt Hasselbeck’s infamous
    “we
    want the ball and we’re going to score” comment which he followed up by throwing a pick-six in the 2003 NFC Wild
    Card game, to the controversial “Fail Mary” touchdown, or the Seahawks insane comeback to win the 2014 NFC
    Championship game in overtime. Whenever you have Aaron Rodgers and Russell Wilson going head-to-head it makes for
    great football and you can expect there to be some big plays from both.
</p>

<h3>Giants @ Cowboys</h3>
<p>
    In this divisional matchup, we will get to see Ezekiel Elliott but then he will fade away into his six-game
    suspension, which makes this game that much more important for the Cowboys to get everything trending in a positive
    direction. Last season, Zeke rushed for 51-yards in his first game vs. the Giants then went for 107-yards in their
    second meeting. A lot of attention will also be on Dak Prescott who looked sharp in preseason play, going 39 of 50
    passing for 454 yards, 5 touchdown passes, 2 rushing TDs and 0 interceptions. Dak will looks to build on his
    productive QB play from last season, but first he’ll have to deal with a tough Giants defense.
</p>

<h3>Saints @ Vikings</h3>
<p> This game will very interesting to watch as Adrian Peterson makes his return to Minnesota, apparently with an axe to
    grind. Peterson told to the Star Tribune “I want to stick it to them. I want to stick it to everyone we play. But
    going back to Minnesota, playing the Vikings? Yeah, I want to stick it to them.” Who doesn’t love a good grudge
    match? It will be interesting to see how the Saints use Peterson along with Mark Ingram (who rushed for over 1,000
    yards last season) and perhaps even the rookie Alvin Kamara. On the other side of the field, we’ll get a good look
    at AP’s replacement, rookie Dalvin Cook.
</p>

<p>
    Be sure to sign up for StatRoute.com. StatRoute allows you to research any specific data point regarding any player
    or team. It’ll save you tons of time on your research and arm you with all of the information you need to be
    victorious.
</p>








