<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>
<p>
    Last season, the Saints ran the ball 404 times (19th in the NFL). However, when taking a look at the New Orleans
    Saints depth chart, you’ll see that they appear to be stacked at the running back position. With the combination of
    a proven veteran, a future Hall of Famer and a speedy rookie, the trio of Mark Ingram, Adrian Peterson and Alvin
    Kamara could be one of the best in the NFL this season. Great news for the Saints, but fantasy owners beware of this
    running back by committee situation.
</p><p>
    Mark Ingram is the only familiar face in the Saints backfield. Ingram continued his rise to Fantasy prominence in
    2016 with 1000+ rushing yards and 10 total TDs, and he is still very much in the picture. He looks like the safe bet
    to be the lead member of this RBBC, and should be the first Saints RB off the board in this year’s drafts.
</p><p>
    Adrian Peterson joins the Saints backfield (via the Vikings) and is the biggest question mark here. He only played
    three games last season prior to being placed on season ending IR (meniscus) and in that time he carried the ball 37
    times for 72 yards (1.9 YPC). It should be noted that he was also running behind an abysmal offensive line and his
    relationship with the organization was turning sour. AP may be 32-years-old entering the 2017 season, but it’s worth
    noting that he’s only a year removed from carrying the ball 327 times for 1,485 yards and 11 TDs. Peterson will be
    given an opportunity to stick it to his former team in the first game of the 2017 NFL season. Provided he gets
    enough touches in Week 1, this should provide a good indication of what to expect from AP the rest of the season.
</p><p>
    Alvin Kamara is the sleeper of this group. The rookie out of Tennessee has already drawn comparisons to Darren
    Sproles, and it’s been speculated that he’ll fill the void as the Saints’ passing down RB. This might be a bit
    premature, however. Last year Kamara amassed 40 receptions for 392 yards and 4 TDs for the Vols. Still, it would be
    wise to take a wait and see approach with Kamara to see how he’ll be used alongside the two aforementioned veterans.
</p><p>
    Let’s also not forget that the Saints still have Drew Brees under center, and have ranked 1st in NFL passing yards
    the past two seasons and 2nd in pass attempts since 2014. With Brees at quarterback, we shouldn’t expect the Saints
    to deviate from their pass happy offense. Ultimately, this RBBC situation will be difficult to predict in fantasy
    this season, barring any injuries.
</p>