<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>

<p>
    One of the big storylines following Super Bowl LI was Kyle Shanahan leaving the Atlanta Falcons to take over head
    coaching duties for the San Francisco 49ers. Much has been made of Shanahan’s offensive genius, which helped get the
    Falcons to the Super Bowl, and even more was made about the Falcons’ epic collapse on the game’s greatest stage.
</p><p>
    Enter Steve Sarkisian, the Falcons’ new OC who spent all of last season at Alabama working in Nick Saban’s pro
    college system as an offensive analyst (and offensive coordinator for one game—a 35-31 loss to Clemson in the
    College Football Playoff National Championship Game).
</p><p>
    Sarkisian also worked under Pete Carroll at USC alongside Falcons HC Dan Quinn, where he called the offensive plays.
    So, the Falcons have some familiarity with Sarkisian which could help go a long way. But there are also similarities
    between he and Shanahan, such as the fact that they both prefer to throw the ball rather than hand it off in the
    backfield. While Sarkisian has never called plays at the NFL level, he’s had a cup of coffee in the league as a
    quarterbacks coach with the Oakland Raiders back in 2004.
</p><p>
    With a similar offensive style and scheme, plus Matt Ryan under center with all of the Falcons’ offensive weapons
    returning for another run at a Super Bowl, it’s possible that there won’t be any noticeable changes in the Falcons
    offense this year. Matt Ryan isn’t phased by having to work with new playcallers. Sarkisian will be Ryan’s fourth
    offensive coordinator since he was drafted (Mike Mularkey, Dirk Koetter and Shanahan).
</p><p>
    Though known primarily for his quarterbacks, Sarkisian helped produce a 1,000 yard rusher every full season he was a
    head coach in college. Chris Polk surpassed 1,000 yards in three consecutive seasons at the University of Washington
    (2009-2011), Bishop Sankey went over 1,000 in back-to-back seasons at UW (2012 and 2013), and Javorius Allen did so
    at USC (2014). Devonta Freeman and Tevin Coleman owners can rest easy.
</p><p>
    With no other drastic changes to the Falcons personnel, they are a good bet to go deep into the playoffs once again
    and contend for a championship.
</p>