<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>

<p><b>September 7, 2017</b> — Today we officially launched StatRoute, the New Standard for Fantasy Football Stats
    Delivery.
    Effective today, for the first time ever, fantasy owners will be able to locate the most specific statistics for any
    player or team in just a matter of seconds. No more wasting your time scouring the internet trying to find a needle
    in a haystack, or falling into a rabbit hole in search of some crazy statistic that might not even exist yet (we’ve
    all been there).
</p>


<p>Have you ever wondered why all these sites provide the same data-tables, graphs, and data-points? The other stat
    providers are so focused on increased user gains, they sidestep on quality and innovation. And why is it that we can
    only obtain single-filter options for the critical information we need? It’s because the other guys are built on
    antiquated databases that scale poorly, are extremely slow and have major limitations in their output. This boils
    down to a lousy experience.
</p>
<p>
    StatRoute was developed by fantasy football consumers who have grown frustrated by what has become the status quo in
    the industry. We asked ourselves why fantasy owners are so preconditioned to taking advice from a talking head on
    television about who to start when they don’t know who you have on your bench. Why is everyone putting their faith
    into what these “experts” have to say when it’s your money and your pride on the line? If you take their advice and
    they’re wrong, they won’t be held accountable and they’re liable to do it again next week, the week after next, and
    so on…
</p>
<p>
    StatRoute has data-points the other sites don’t have, and unlike the other guys we don’t purchase automated stat
    feed from suppliers. We understand the value you need and like you, we are frustrated at the costs of obtaining
    relevant statistics and the costs of being your own manager
</p>
<p>
    Our mission is to raise your ceiling, and the ceiling of the entire industry. Today is just phase one: The unveiling
    of the next big thing in sports-data, “Stats IP,” which allows you to locate any data-point for any player or team
    in 7-seconds or less. We will introduce a comprehensive ‘Weather Report,’ which displays easy to read charts and
    Stats on your players historical performances in the exact weather variables upcoming. We will roll out advanced
    ‘Player Cards,’ providing professional insights using Stats IP technology and thoughtful reporting. We will release
    a cutting edge ‘Depth Chart,’ with customized toggle-options and historical matchup displays direct from Stats IP
    direct to you in seconds. And there is much more to come!
</p>

<p><b>Unmatched Relevance. Stats You Deserve.</b></p>