<h1>StatRoute Inc.</h1>
<h1>Terms and Conditions</h1>
<p>THESE TERMS AND CONDITIONS (THE &ldquo;TERMS&rdquo;) ARE A LEGAL CONTRACT BETWEEN YOU (&ldquo;USER&rdquo;), AND
    STATROUTE INC. (&ldquo;THE COMPANY&rdquo;, &ldquo;SR&rdquo; , &ldquo;WE&rdquo; OR &ldquo;US&rdquo;). THE TERMS
    EXPLAIN HOW YOU ARE PERMITTED TO USE THE WEBSITE LOCATED AT THE URL: WWW.STATROUTE.COM AS WELL AS ALL ASSOCIATED
    SITES LINKED TO WWW.STATROUTE.COM BY THE COMPANY, ITS SUBSIDIARIES AND AFFILIATED COMPANIES (COLLECTIVELY, THE
    &ldquo;SITE&rdquo;).</p>
<p>UNLESS OTHERWISE SPECIFIED, ALL REFERENCES TO &ldquo;SITE&rdquo; INCLUDE THE CONTENT, SERVICES AVAILABLE THROUGH THIS
    SITE AND ANY SOFTWARE THAT THE COMPANY PROVIDES TO YOU THAT ALLOWS YOU TO ACCESS THE SITE (THE &ldquo;SERVICES&rdquo;).
    BY USING THIS SITE, YOU ARE AGREEING TO ALL THE TERMS; IF YOU DO NOT AGREE WITH ANY OF THESE TERMS, DO NOT ACCESS OR
    OTHERWISE USE THIS SITE, ANY SERVICES AVAILABLE THROUGH THIS SITE OR ANY INFORMATION CONTAINED ON THIS SITE.</p>
<p>NOTE: THESE TERMS CONTAIN A DISPUTE RESOLUTION AND ARBITRATION PROVISION, INCLUDING CLASS ACTION WAIVER THAT AFFECTS
    YOUR RIGHTS UNDER THESE TERMS AND WITH RESPECT TO DISPUTES YOU MAY HAVE WITH THE COMPANY. YOU MAY OPT OUT OF THE
    BINDING INDIVIDUAL ARBITRATION AND CLASS ACTION WAIVER AS PROVIDED BELOW.</p>
<h3>Changes.</h3>
<p>THE COMPANY may make changes to the content and Services offered on the Site at any time. THE COMPANY can change,
    update, or add or remove provisions of these Terms, at any time by posting the updated Terms on this Site. By using
    this Site after THE COMPANY has updated the Terms, you are agreeing to all the updated Terms; if you do not agree
    with any of the updated Terms, you must stop using the Site.</p>
<h3>General Use.</h3>
<p>By using this Site, you represent, acknowledge and agree that you are at least 18 years of age, or if you are under
    18 years of age but are at least 13 years old (a &ldquo;Minor&rdquo;), that you are using the Site with the consent
    of your parent or legal guardian and that you have received your parent&rsquo;s or legal guardian&rsquo;s permission
    to use the Site and agree to its Terms. If you are a parent or legal guardian of a Minor, you hereby agree to bind
    the Minor to these Terms and to fully indemnify and hold harmless THE COMPANY if the Minor breaches any of these
    Terms. If you are not at least 13 years old, you may not use the Site at any time or in any manner or submit any
    information to the THE COMPANY or the Site.</p>
<p>THE COMPANY provides content through the Site and through the Services that is copyrighted and/or trademarked work of
    THE COMPANY or THE COMPANY&rsquo;s third-party licensors and suppliers or other users of the Site (collectively, the
    &ldquo;Materials&rdquo;). Materials may include logos, graphics, video, images, software and other content. Subject
    to the terms and conditions of these Terms, and your compliance with these Terms, THE COMPANY hereby grants you a
    limited, personal, nonexclusive and nontransferable license to use and to display the Materials, and to use this
    Site solely for your personal use. Except for the foregoing license, you have no other rights in the Site or any
    Materials and you may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter,
    enhance or in any way exploit any of the Site or Materials in any manner.</p>
<p>If you breach any of these Terms, the above license will terminate automatically and you must immediately destroy any
    downloaded or printed Materials.</p>
<p>You need not register with THE COMPANY to simply visit and view the Site and including Services offered. However, in
    order to access certain password-restricted Services, and areas of the Site, you must register for a Premium
    Account, which will require payment for this subscription. Payment plans/options can and will vary at any time
    within the site.</p>
<h3>Password Restricted Areas of this Site.</h3>
<p>If you desire to register for an account with THE COMPANY, you must submit the following information through the
    account registration page on the Site: Name, Email Address, Username, Password, Zip Code, Gender, and additional
    fields that may be helpful to THE COMPANY in providing you with more a more customized experience when&nbsp;using
    the Site or its Services. Once you have submitted your account registration information, THE COMPANY
    administrator(s) shall have the right to approve or reject the requested registration, as well as Username provided
    at any time in THE COMPANY administrator&rsquo;s sole discretion. When you sign up your Email will need to be
    verified through a process whereby the COMPANY will send you an Email with a link that certifies you are using the
    correct Email address. In order to finalize your sign-up process you must click this link to agree the Email is
    yours.</p>
<p>Currently, THE COMPANY also provides you with the ability to register for an account on the Site using your existing
    account and login credentials through the following Third-Party Sites (as defined below), which may change from time
    to time: Has not been developed yet (each, a &ldquo;Third-Party Site Password&rdquo;). You are responsible for
    maintaining the confidentiality of your THE COMPANY Password and any Third-Party Site Password (collectively,
    &ldquo;Passwords&rdquo;), and you are responsible for all activities that occur using your Passwords. You agree not
    to share your Passwords, let others access or use your Passwords or do anything else that might jeopardize the
    security of your Passwords. You agree to notify THE COMPANY if any of your Passwords on this Site is lost, stolen,
    if you are aware of any unauthorized use of your Passwords on this Site or if you know of any other breach of
    security in relation to this Site.</p>
<p>All the information that you provide when registering for an account and otherwise through the Site must be accurate,
    complete and up to date. You may change, correct or remove any information from your account by either logging into
    your account directly and making the desired changes or contacting THE COMPANY using the contact information at the
    end of these Terms requesting that we make the change. If you register for a &ldquo;beta account&rdquo; or other
    pre-release version of the Site and/or the Services and Materials on the Site (&ldquo;Beta Release&rdquo;), you
    acknowledge and agree that the Beta Release may contain, in THE COMPANY sole discretion, more or fewer features or
    different licensing terms than a subsequent commercial release version of the Site and/or Services that may be
    offered through the Site. You acknowledge and agree that any &ldquo;beta account&rdquo; will automatically convert
    to a commercial release version account upon the launch date of the Site and its Services to the public (&ldquo;Public
    Launch Date&rdquo;). If you do not desire&nbsp;to continue using the Site or its Services after the Public Launch
    Date, you may contact THE COMPANY to delete your account in accordance with the terms and conditions governing
    deletion of personal information set forth in THE COMPANY&rsquo;s Privacy Policy. While THE COMPANY generally
    intends to distribute commercial release versions of the Site and the Services and Materials on the Site, THE
    COMPANY reserves the right not to release later commercial release versions of any Beta Release. Without limiting
    any disclaimer of warranty or other limitation stated herein, you agree that any Beta Release is not considered by
    THE COMPANY to be suitable for commercial use, and that it may contain errors affecting its proper operation. BY
    ACCEPTING THESE TERMS, YOU ACKNOWLEDGE AND AGREE THAT USE OF A BETA RELEASE MAY EXHIBIT SPORADIC DISRUPTIONS THAT
    HAVE THE POTENTIAL TO DISRUPT YOUR USE OF THE SITE IN GENERAL AND ANY SERVICES THAT MAY BE OFFERED THROUGH THE SITE.
    THE COMPANY SPECIFICALLY DISCLAIMS ALL DAMAGES RESULTING FROM YOUR USE OF ANY BETA RELEASE.</p>
<h3>Payments.</h3>
<p>While many of Our Services are available to You at no charge, We do charge for Our premium services, which will be
    described on a payment page on Our Site as &ldquo;Premium Services&rdquo;. For those Services requiring a payment,
    We may suspend or terminate Your account and/or access to those Services and this Site if Your payment is late
    and/or Your offered payment method (e.g., credit card) cannot be processed. By providing a payment method, You
    expressly authorize Us to charge the applicable fees on said payment method as well as taxes and other charges
    incurred thereto at regular intervals, all of which depend on the Services you have purchased. Unless We specify
    otherwise to You on the Website, subscription fees are based on monthly, and yearly periods that begin on the
    subscription start date (which is the date that Your payment is processed) or at 30 day intervals depending on your
    plan purchased.</p>
<p>The fees for Our Services must be paid in advance in full for the subscription period. Where payment is required to
    access Our Services, the subscription period will not commence and You will not be permitted to access the Our
    Premium Services until We have confirmed payment of the applicable subscription fee. Once payment has been
    confirmed, You may receive a confirmation notifying You of Your ability to access Our Services for which you have
    paid the applicable fees. AT THE END OF EACH SUBSCRIPTION TERM (OTHER THAN FOR A TRIAL PERIOD), WE WILL
    AUTOMATICALLY RENEW THE SUBSCRIPTION TERM ON EACH 30 DAY INTERVAL OR YEARLY ANNIVERSARY OF THE ACTIVATION DATE OF
    THE FIRST SUBSCRIPTION TERM AND, AS AUTHORIZED BY YOU DURING THE SUBSCRIPTION PROCESS, WE WILL CHARGE YOUR CREDIT
    CARD WITH THE APPLICABLE FEE AND ANY SALES OR SIMILAR TAXES THAT MAY BE IMPOSED ON YOUR SUBSCRIPTION TERM (UNLESS
    YOU CANCEL PRIOR TO THE ANNIVERSARY DATE). EACH SUBSCRIPTION TERM RENEWAL PERIOD IS FOR A PERIOD EQUAL TO THE
    INITIAL SUBSCRIPTION TERM SPECIFIED ON OUR SITE FOR THE APPLICABLE SERVICES. IF YOU CANCEL THE SUBSCRIPTION TERM,
    YOU WILL ENJOY OUR APPLICABLE SERVICES UNTIL THE EXPIRATION OF THE THEN-CURRENT SUBSCRIPTION TERM FOR WHICH YOU HAVE
    PAID. If any amounts owed by You for Our Services are not paid by the date due, We may, without limiting Our other
    rights and remedies, suspend Your access to &ldquo;Premium Services&rdquo; for which payment has not been received
    until such amounts are paid in full.</p>
<p>We understand that You might cancel Your account anytime, but please know that We will not provide any refund(s) and
    You will be responsible for paying any balance due on the account, if applicable. You agree that We may charge any
    unpaid fees to Your provided payment method and/or send You a bill for such unpaid fees. We reserve the right to
    determine final prevailing pricing &ndash; Please note the pricing information published on this Site may not
    reflect the prevailing pricing.</p>
<p>We, at Our sole discretion, may make promotional offers with different features and different rates to any of Our
    customers. These promotional offers, unless made to You, shall have no bearing whatsoever on Your offer or contract.&nbsp;We
    may change the fees for Our Services as We deem necessary for Our business. We encourage You to check back at this
    Site periodically if You are interested about how we charge for Our Services.</p>
<p>In addition to the fees and charges set forth above, you are responsible for all charges and fees associated with
    connecting to our Fee-Based Products, including without limitation all telephone access lines (including
    long-distance charges, when applicable), content distributor fees, internet service provider fees, mobile fees,
    telephone and computer equipment, sales taxes and any other fees and charges necessary to access our Fee-Based
    Products.</p>
<p>For purposes of your use of our Fee-Based Products including identification and billing, you agree to provide the
    trusted third parties that we have retained to perform billing- and subscription-related functions with true,
    accurate and complete information as required by the subscription or sign up process to our Fee-Based Products (&ldquo;Subscription
    Data&rdquo;), including your legal name, address, telephone number, email address and applicable billing information
    (e.g., credit card number and expiration date), for the purpose of verifying the information you provide and billing
    your credit card or otherwise charging your account. You agree to maintain and promptly update the Subscription Data
    and any other information you provide to us to keep it accurate. Without limiting any other provision of this
    Agreement, if you provide any information that is untrue, inaccurate, or incomplete, or we have reasonable grounds
    to suspect that such is the case, we reserve the right to suspend or terminate your user account or subscription and
    refuse any and all current or future use by you of any of our Fee-Based Products. You are obligated to check the
    &ldquo;My Accounts&rdquo; feature of our website to determine whether your Subscription Data is current and
    accurate, and, if not, to correct or update your Subscription Data including your billing information. You agree not
    to register or subscribe for more than one account, create an account on behalf of someone else, or create a false
    or misleading identity on any of the Fee-Based Products.</p>
<p>If your registration or subscription is revoked for any reason, you agree not to register or subscribe again with our
    Services using another Username or through any other means. If we have reason to suspect, in our sole discretion,
    that your account has previously been terminated, we reserve the right to terminate any new accounts you have
    registered without any notice to you, or to exercise any other remedies available to us under this Agreement or by
    law.</p>
<p>You are entirely responsible for maintaining the confidentiality of your password and user account information. You
    must notify us immediately in the event of any known or suspected unauthorized use of your user account, or any
    known or suspected breach of security, including loss, theft, or unauthorized disclosure of your or anyone else&rsquo;s
    password or credit card information. In the event of a breach of security by you, you will remain liable for any
    unauthorized use of your subscription until you update your Subscription Data. If your credit card expires, is
    canceled, is lost or is subject to use without your authorization, access the My Account feature of this website to
    update your Subscription Data. You are entirely responsible for any and all activities which occur under your user
    account.</p>
<p>Cancellation of Subscription</p>
<p>Either you or the COMPANY may terminate or cancel your subscription to our Fee-Based Product(s( at any time. You
    understand and agree that the cancellation or termination of your subscription is your sole right and remedy with
    respect to any dispute with us including, without limitation, any dispute related to, or arising out of: (i) any
    terms of this Agreement or our enforcement or application of this Agreement; (ii) any practice or policy of the
    COMPANY including our Privacy Policy, or our enforcement or application of these policies; (iii) the content
    available through the Fee-Based Products or any change in content provided through the website or on a Fee-Based
    Product; (iv) your ability to access and/or use our website or any Fee-Based Product; or (v) the amount or types of
    our fees or charges, surcharges, applicable taxes, or billing methods, or any change to our fees or charges,
    applicable taxes, or billing methods. Upon cancellation or termination of your subscription to our Fee-Based
    Products, we may immediately deactivate your user account and all related information and/or files in your user
    account and/or bar any further access to such information and/or files, our website (or part thereof) and/or our
    Fee-Based Products, except as we may otherwise provide from time to time.</p>
<p>In addition to Canceling your services, you can suspend your subscription fees, in My Account through &ldquo;Freeze.&rdquo;
    This option will hold future billing cycles and allow you to remain as a user on the site. At the time of your
    Freeze or Cancellation you will retain the right to use our products and services as a Lite user and are able to
    sign up at anytime to our Premium Account Services.</p>
<p>We will attempt to process all cancellation requests, or skip your billing cycles when you Freeze your account within
    72 hours after we receive your request. If you cancel or Freeze near the end of your billing period and are
    inadvertently charged for the next period&rsquo;s fee, contact us at info@statroute.com to have the charges
    reversed. We reserve the right to collect fees, surcharges, or costs incurred before your cancellation takes
    effect.</p>
<h3>Communications.</h3>
<p>By using the Site and/or the Services provided on or through the Site, you consent to receiving communications from
    THE COMPANY, which may include notices about applicable fees and charges, transactional information and other
    information concerning or related to the Site and/or Services provided on or through the Site (&ldquo;Communications&rdquo;).
    These Communications, including in electronic format, are part of your relationship with THE COMPANY and you agree
    that they will satisfy any legal communication requirements, including that such communications be in writing.</p>
<p>Participation in Promotions</p>
<p>From time to time, this site may include advertisements offered by third parties. You may enter into correspondence
    with or participate in promotions of the advertisers showing their products on this site. Any such correspondence or
    promotions, including the delivery of and the payment for goods and services, and any other terms, conditions,
    warranties or representations associated with such correspondence or promotions, are solely between you and the
    advertiser. We assume no liability, obligation or responsibility for any part of any such correspondence or
    promotion.</p>
<h3>Intellectual Property Rights</h3>
<p>You acknowledge that all intellectual property rights in Services anywhere in the world belong to the Company, that
    rights are licensed (not sold) to you, and that you have no rights in, or to, the Services other than the right to
    use them in accordance with the terms of this Agreement. You acknowledge that you have no right to have access to
    the Services in source-code form. Except for a single copy made for personal use only, you may not copy, reproduce,
    modify, republish, upload, post, transmit, or distribute any documents or information from the Services in any form
    or by any means without prior written permission from the Company.</p>
<h3>Disclaimer</h3>
<p>HEREBY YOU ACKNOWLEDGE ALL MATERIALS AND SERVICES ON THIS SITE ARE PROVIDED ON AN &ldquo;AS IS&rdquo;&nbsp;AND
    &ldquo;AS AVAILABLE&rdquo; BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT
    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF
    NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT (A) THE SERVICES AND MATERIALS WILL MEET
    YOUR REQUIREMENTS, (B) THE SERVICES AND MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (C) THE
    RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES OR MATERIALS WILL BE EFFECTIVE, ACCURATE OR RELIABLE, OR
    (D) THE QUALITY OR ACCURACY&nbsp;OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED BY YOU FROM THE
    SITE, FROM US OR OUR AFFILIATES WILL MEET YOUR EXPECTATIONS OR BE FREE FROM MISTAKES, ERRORS OR DEFECTS.</p>
<p>THE SERVICES COULD INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR TYPOGRAPHICAL ERRORS. WE MAY MAKE CHANGES TO
    THE MATERIALS AND SERVICES ON THIS SITE, INCLUDING THE PRICES AND DESCRIPTIONS OF ANY PRODUCTS LISTED HEREIN, AT ANY
    TIME WITHOUT NOTICE. THE MATERIALS OR SERVICES AT THIS SITE MAY BE OUT OF DATE, AND WE MAKE NO COMMITMENT TO UPDATE
    SUCH MATERIALS OR SERVICES.</p>
<h3>Jury Waiver</h3>
<p>You understand and agree that by entering into this Agreement you and THE COMPANY are each waiving the right to a
    jury trial or a trial before a judge in a public court. In the absence of this Provision, you and THE COMPANY might
    otherwise have had a right or opportunity to bring Disputes in a court, before a judge or jury, and/or to
    participate or be represented in a case filed in court by others (including class actions). Except as otherwise
    provided below, those rights are waived. Other rights that you would have if you went to court, such as the right to
    appeal and to certain types of discovery, may be more limited or may also be waived.</p>
<h3>Severability</h3>
<p>If any clause within this Provision (other than the Class Action Waiver clause above) is found to be illegal or
    unenforceable, that clause will be severed from this Provision, and the remainder of this Provision will be given
    full force and effect. If the Class Action Waiver clause is found to be illegal or unenforceable, this entire
    Provision will be unenforceable and the Dispute will be decided by a court.</p>
<h3>Continuation</h3>
<p>This Provision shall survive the termination of your service with THE COMPANY or its affiliates. Notwithstanding any
    provision in this Agreement to the contrary, we agree that if THE COMPANY makes any change to this Provision (other
    than a change to the Notice Address), you may reject any such change and require THE COMPANY to adhere to the
    language in this Provision if a dispute between us arises.</p>
<p>THE COMPANY prefers to advise you if we feel you are not complying with these Terms and to recommend any necessary
    corrective action. However, certain violations of these Terms, as determined by THE COMPANY, may result in immediate
    termination of your access to this Site without prior notice to you. The Federal Arbitration Act, Delaware state law
    and applicable U.S. federal law, without regard to the choice or conflicts of law provisions, will govern these
    Terms. Foreign laws do not apply. The United Nations on Contracts for the International Sale of Goods and any laws
    based on the Uniform Computer Information Transactions Act (UCITA) shall not apply to this Agreement. Except for
    Disputes subject to arbitration as described below, any disputes relating to these Terms or this Site will be heard
    in the courts located in Clark County in the State of Colorado. If any of these Terms is found to be inconsistent
    with applicable law, then such term shall be interpreted to reflect the intentions of the parties, and no other
    terms will be modified. THE COMPANY&rsquo;s failure to enforce any of these Terms is not a waiver of such term.
    These Terms are the entire agreement between you and THE COMPANY and supersede all prior or contemporaneous
    negotiations, discussions or agreements between you and THE COMPANY about this Site. The proprietary rights,
    disclaimer of warranties, representations made by you, indemnities, limitations of liability and general provisions
    shall survive any termination of these Terms.</p>
<h3>Limitation of Liability.</h3>
<p>THE COMPANY SHALL NOT BE LIABLE TO YOU FOR ANY DAMAGES RESULTING FROM YOUR DISPLAYING, COPYING, OR DOWNLOADING ANY
    MATERIALS TO OR FROM THIS SITE. IN NO EVENT SHALL THE COMPANY BE LIABLE TO YOU FOR ANY INDIRECT, EXTRAORDINARY,
    EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE, PROFITS, USE OR
    OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF THE COMPANY KNOWS THERE IS A POSSIBILITY OF SUCH DAMAGE. OUR
    AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THESE TERMS SHALL NOT EVER BE MORE THAN $100.00.</p>
<p>_________________________________________________________________________</p>
<p>StatRoute Privacy Policy</p>
<p>EFFECTIVE DATE: September 7, 2017</p>
<p>THE COMPANY values your privacy. In this Privacy Policy (&ldquo;Policy&rdquo;), we describe how we collect, use, and
    disclose information that we obtain about visitors to our website, www.StatRoute.com (the &ldquo;Site&rdquo;), users
    of ourMobile Application, or Web Application, or any other software Application &nbsp;(the &ldquo;Application&rdquo;),
    and the services available through our Site and Application (collectively, the &ldquo;Services&rdquo;), and how we
    use and disclose that information.</p>
<p>By visiting the Site, or using any of our Services, you agree that your personal information will be handled as
    described in this Policy. Your use of our Site, Application, or Services, and any dispute over privacy, is subject
    to this Policy and our Terms of Service, including its applicable limitations on damages and the resolution of
    disputes. Our Terms of Service are incorporated by reference into this Policy.</p>
<p>Information We Collect About You and Why</p>
<p>We may collect information about you directly from you and from third parties, as well as automatically through your
    use of our Site, Application, or Services.</p>
<p>We collect information from you when you register with our Site or Application, when you request information from us,
    join our email program, respond to surveys, or otherwise contact us. The type of information that we collect about
    you depends upon your particular interaction with our Site, Application, and Services, but may include: if you
    register on our Site or Application, we will collect your name and email address. We may also collect phone numbers
    if you use the Application to send text messages.</p>
<p>Information that We Collect About You from Social Networking Sites. You also may log into our Site and Application
    using your Facebook credentials. If you do so, we will ask that you grant us permission to: (i) send email and
    messages; (ii) post to your Wall; and (iii) access your list of friends. If you allow us to have access to this
    information, then we will have access to this information even if you have chosen not to make that information
    public.</p>
<p>We store the information that we receive from Facebook with other information that we collect from you or receive
    about you. Facebook controls the information it collects from you. For information about how they may use and
    disclose your information, including any information you make public, please consult their respective privacy
    policies. We have no control over how any third party site uses or discloses the personal information it collects
    about you.</p>
<p>Information We Collect Automatically. We may automatically collect information about your use of our Site,
    Application, or Services through cookies, web beacons, and other technologies. We may combine this information with
    other information that we have collected about you, including, where applicable, your personal information. Please
    see the section &ldquo;Cookies and Other Tracking Mechanisms&rdquo; below for more information.</p>
<p>When you use the Site. When you access our Services through the Site, we may automatically collect the following
    information: your domain name; your browser type and operating system; web pages you view; links you click; your IP
    address; the length of time you visit our Site and or use our Services; and the referring URL, or the webpage that
    led you to our Site, and your device ID.</p>
<p>When you use the Application. We also may collect the following information about your use of the Application: mobile
    device ID; location and language information; device name and model; operating system type, name, and version; your
    activities within the Application; and the length of time that you are logged into our Application. We may also
    access your mobile device&rsquo;s contacts list so you can send invitations to THE COMPANY or messages to your
    contacts.</p>
<p>We use your information, including your personal information, for the following purposes:</p>
<ul>
    <li>To provide our Services to you, to communicate with you about your use of our Services, to respond to your
        inquiries, and for other customer service purposes.
    </li>
    <li>To tailor the content and information that we may send or display to you, to offer location customization, and
        personalized help and instructions, and to otherwise personalize your experiences while using the Site,
        Application, or our Services.
    </li>
    <li>For marketing and promotional purposes. For example, we may use your information, such as your email address, to
        send you news and newsletters, special offers, and promotions, or to otherwise contact you about products or
        information we think may interest you. We also may use the information that we learn about you to assist us in
        advertising our Services on third party websites.
    </li>
    <li>To better understand how users access and use our Site, Application, and Services, both on an aggregated and
        individualized basis, in order to improve our Site and Services and respond to user desires and preferences, and
        for other research and analytical purposes.
    </li>
    <li>To administer our customer loyalty program.</li>
    <li>If you have granted us permission, to post to your Facebook Wall.</li>
</ul>
<p>How We Share Your Information</p>
<p>We may share your information, including personal information, as follows:</p>
<ul>
    <li>Facebook, Twitter, Instagram Users. When you join THE COMPANY, if you grant us permission to post on your Social
        Media platforms, a notification will be visible on your pages telling your friends that you have started using
        our Services.
    </li>
    <li>Affiliates. We may disclose the information we collect from you to our affiliates or subsidiaries; however, if
        we do so, their use and disclosure of your personal information will be subject to this Policy.
    </li>
    <li>Service Providers. We may disclose the information we collect from you to third party vendors, service
        providers, contractors or agents who perform functions on our behalf. In addition, we may share your information
        in the following circumstances:
    </li>
</ul>
<ul>
    <li>Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are
        transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have
        collected from you to the other company.
    </li>
    <li>In Response to Legal Process. We also may disclose the information we collect from you in order to comply with
        the law, a judicial proceeding, court order, or other legal process, such as in response to a court order or a
        subpoena.
    </li>
    <li>To Protect Us and Others. We also may disclose the information we collect from you where we believe it is
        necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations
        involving potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as
        evidence in litigation in which THE COMPANY is involved.
    </li>
    <li>Aggregate and De-Identified Information. We may share aggregate or de-identified information about users with
        third parties for marketing, advertising, research or similar purposes. Our Use of Cookies and Other Tracking
        Mechanisms. We and our third party service providers use cookies and other tracking mechanisms, including
        tracking technologies designed for mobile applications, to track information about your use of our Site,
        Application, or Services. We may combine this information with other personal information we collect from you
        (and our third party service providers may do so on our behalf).
    </li>
</ul>
<p>Cookies. Cookies are alphanumeric identifiers that we transfer to your computer&rsquo;s hard drive through</p>
<p>your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Site,
    Application, and Services, while others are used to enable a faster log-in process or to allow us to track your
    activities at our Site, Application, and Service. There are two types of cookies: session and persistent
    cookies.</p>
<p>Persistent Cookies. Persistent cookies remain on your computer after you have closed your browser or turned off your
    computer. We may use persistent cookies to track aggregate and statistical information about user activity.</p>
<p>Session Cookies. Session cookies exist only during an online session. They disappear from your computer when you
    close your browser or turn off your computer. We use session cookies to allow our systems to uniquely identify you
    during a session or while you are logged into the Site. This allows us to process your online transactions and
    requests and verify your identity, after you have logged in, as you move through our Site.</p>
<p>Local Storage Objects. We may use Flash Local Storage Objects (&ldquo;Flash LSOs&rdquo;) to store your Site
    preferences and to personalize your visit. Flash LSOs are different from browser cookies because of the amount and
    type of data stored. Typically, you cannot control, delete, or disable the acceptance of Flash LSOs through your web
    browser. For more information on Flash LSOs, or to learn how to manage your settings for Flash LSOs, go to the Adobe
    Flash Player Help Page, choose &ldquo;Global Storage Settings Panel&rdquo; and follow the instructions. To see the
    Flash LSOs currently on your computer, choose &ldquo;Website Storage Settings Panel&rdquo; and follow the
    instructions to review and, if you choose, to delete any specific Flash LSO.</p>
<p>Clear GIFs, pixel tags and other technologies. Clear GIFs are tiny graphics with a unique identifier, similar in
    function to cookies. In contrast to cookies, which are stored on your computer&rsquo;s hard drive, clear GIFs are
    embedded invisibly on web pages. We may use clear GIFs (a.k.a. web beacons, web bugs or pixel tags), in connection
    with our Site to, among other things, track the activities of Site visitors, help us manage content, and compile
    statistics about Site and Application usage. We and our third party service providers also use clear GIFs in HTML
    e-mails to our customers, to help us track e-mail response rates, identify when our e-mails are viewed, and track
    whether our e-mails are forwarded.</p>
<p>Third-Party Analytics. We use automated devices and applications, such as Google Analytics, to evaluate usage of our
    Site and, to the extent permitted, our Application. We also may use other analytic means to evaluate our Services.
    We use these tools to help us improve our Services, performance and user experiences. These entities may use cookies
    and other tracking technologies to perform their services.</p>
<p>Third-Party Ad Networks</p>
<p>We reserve the right to use third parties such as network advertisers to serve advertisements on our Site,
    Application, and on third-party websites or other media (e.g., social networking platforms). This enables us and
    these third parties to target advertisements to you for products and services in which you might be interested.
    Third- party ad network providers, advertisers, sponsors and/or traffic measurement services may use cookies,
    JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the
    effectiveness of their ads and to personalize advertising content to you. These third-party cookies and other
    technologies are governed by each third party&rsquo;s specific privacy policy, not this one. We may provide these
    third-party advertisers with information, including personal information, about you.</p>
<p>Users in the United States may opt out of many third-party ad networks. For example, you may go to the Digital
    Advertising Alliance (&ldquo;DAA&rdquo;) Consumer Choice Page for information about opting out of interest-based
    advertising and their choices regarding having information used by DAA companies. You may also go to the Network
    Advertising Initiative (&ldquo;NAI&rdquo;) Consumer Opt-Out Page for information about opting out of interest-based
    advertising and their choices regarding having information used by NAI members.</p>
<p>Third-Party Links</p>
<p>Our Site, Application, and Services may contain links to third-party websites. Any access to and use of such linked
    websites is not governed by this Policy, but instead is governed by the privacy policies of those third party
    websites. We are not responsible for the information practices of such third party websites.</p>
<p>Security of My Personal Information</p>
<p>We have implemented commercially reasonable precautions to protect the information we collect from loss, misuse, and
    unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data
    security measures can guarantee 100% security.</p>
<p>You should take steps to protect against unauthorized access to your password, phone, and computer by, among other
    things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily
    guess, and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised
    passwords or for any activity on your account via unauthorized password activity.</p>
<p>Access to My Personal Information</p>
<p>You may modify personal information that you have submitted by logging into your account and updating your profile
    information. Please note that copies of information that you have updated, modified or deleted may remain viewable
    in cached and archived pages of the Site or Application for a period of time.</p>
<p>What Choices Do I Have Regarding Use of My Personal Information?</p>
<p>We may send periodic promotional or informational emails to you. You may opt-out of such communications by following
    the opt-out instructions contained in the e-mail. Please note that it may take up to 10 business days for us to
    process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may
    interest you, we may still send you e-mails about your account or any Services you have requested or received from
    us.</p>
<p>Children Under 13</p>
<p>Our Services are not designed for children under 13. If we discover that a child under 13 has provided us with
    personal information, we will delete such information from our systems.</p>
<p>Contact Us</p>
<p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us
    at <a href="mailto:info@StatRoute.com">info@StatRoute.com</a>.</p>
<p>PRIVILEGED &amp; CONFIDENTIAL - Changes to this Policy</p>
<p>This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so
    please be sure to check back periodically. We will post any changes to this Policy on our Site or within the
    Application. If we make any changes to this Policy that materially affect our practices with regard to the personal
    information we have previously collected from you, we will endeavor to provide you with notice in advance of such
    change by highlighting the change on our Site or Application.</p>
<p>Links to Third-Party Sites.</p>
<p>This Site may be linked to other web sites that are not THE COMPANY sites, including, without limitation, social
    networking, blogging and similar websites through which you are able to log into this Site using your existing
    account and log-in credentials for such third-party sites, including, without limitation sites which have not been
    developed yet (any and all of which of the foregoing listed websites may change from time to time) and websites that
    provide question-and-answer forum functionality (collectively, &ldquo;Third-Party Sites&rdquo;). Certain areas of
    the Site may allow you to interact and/or conduct transactions with such Third-Party Sites, and, if applicable,
    allow you to configure your privacy settings in your Third-Party Site account to permit your activities on this Site
    to be shared with your contacts in your Third-Party Site account and, in certain situations, you may be transferred
    to a Third-Party Site through a link but it may appear that you are still on this Site. In any case, you acknowledge
    and agree that the Third-Party Sites may have different privacy policies and terms and conditions and/or user guides
    and business practices than THE COMPANY, and you further acknowledge and agree that your use of such Third-Party
    Sites is governed by the respective Third-Party Site privacy policy and terms and conditions and/or user guides. You
    hereby agree to comply with any and all terms and conditions, users guides and privacy policies of any of
    Third-Party Sites. THE COMPANY is providing links to the Third-Party Sites to you as a convenience, and THE COMPANY
    does not verify, make any representations or take responsibility for such Third-Party Sites, including, without
    limitation, the truthfulness, accuracy, quality or completeness of the content, services, links displayed and/or any
    other activities conducted on or through such Third-Party Sites. YOU AGREE THAT THE COMPANY WILL NOT, UNDER ANY
    CIRCUMSTANCES, BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY GOODS, SERVICES, INFORMATION, RESOURCES
    AND/OR CONTENT AVAILABLE ON OR THROUGH ANY THIRD-PARTY SITES AND/OR THIRD-PARTY DEALINGS OR COMMUNICATIONS, OR FOR
    ANY HARM RELATED THERETO, OR FOR ANY DAMAGES OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH YOUR
    USE OR RELIANCE ON THE CONTENT OR BUSINESS PRACTICES OF ANY THIRD-PARTY.</p>
<h3>Submissions.</h3>
<p>You are responsible for the information, opinions, messages, comments, photos, videos, graphics, sounds and other
    content or material that you submit, upload, post or otherwise make available on or through the Site (each a &ldquo;Submission&rdquo;)
    and through the Services available in connection with this Site. You may not upload, post or otherwise make
    available on this Site any material protected by copyright, trademark, or any other proprietary right without the
    express permission of the owner of such copyright, trademark or other proprietary right owned by a third-party, and
    the burden of determining whether any material is protected by any such right is on you. You shall be solely liable
    for any damage resulting from any infringement of copyrights, trademarks, proprietary rights, violation of contract,
    privacy or publicity rights or any other harm resulting from any Submission that you make. You have full
    responsibility for each Submission you make, including its legality, reliability and appropriateness.</p>
<p>Unless otherwise explicitly stated herein or in THE COMPANY Privacy Policy, you agree that any Submission provided by
    you in connection with this Site is provided on a non-proprietary and non-confidential basis. You hereby grant to
    THE COMPANY a non-exclusive, perpetual, irrevocable, royalty-free, fully paid-up, worldwide license (including the
    right to sublicense through multiple tiers) to use, reproduce, process, adapt, publicly perform, publicly display,
    modify, prepare derivative works, publish, transmit and distribute each of your Submissions, or any portion thereof,
    in any form, medium or distribution method now known or hereafter existing, known or developed, and authorize others
    to use the Submissions. We may modify or adapt your Submissions in order to transmit, display or distribute them
    over computer networks and in various media and/or make changes to the Submissions as necessary to conform and adapt
    them to any requirements or limitations of any networks, devices, services or media. THE COMPANY agrees to use any
    personally identifiable information contained in any of your Submissions in accordance with THE COMPANY&rsquo;s
    Privacy Policy.</p>
<p>You agree to pay for all royalties, fees, damages and any other monies owing any person by reason of any Submissions
    posted by you to or through this Site. When you provide Submissions you agree that those Submissions shall not be in
    violation of the &ldquo;Unauthorized Activities&rdquo; paragraph below. Those prohibitions do not require THE
    COMPANY to monitor, police or remove any Submissions or other information submitted by you or any other user.</p>
<h3>Unauthorized Activities.</h3>
<p>When using this Site and/or the services, you agree not to:</p>
<ul>
    <li>Defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as rights of privacy and
        publicity) of others.
    </li>
    <li>Use racially, ethnically, or otherwise offensive language.</li>
    <li>Discuss or incite illegal activity.</li>
    <li>Use explicit/obscene language or solicit/post sexually explicit images (actual or simulated).</li>
    <li>Post anything that exploits children or minors or that depicts cruelty to animals.</li>
    <li>Post any copyrighted or trademarked materials without the express permission from the owner.</li>
    <li>Disseminate any unsolicited or unauthorized advertising, promotional materials, &lsquo;junk mail&rsquo;, &lsquo;spam&rsquo;,
        &lsquo;chain letters&rsquo;, &lsquo;pyramid schemes&rsquo;, or any other form of such solicitation.
    </li>
    <li>Use any robot, spider, scraper or other automated means to access the Site.</li>
    <li>Take any action that imposes an unreasonable or disproportionately large load on our infrastructure.</li>
    <li>Alter the opinions or comments posted by others on this Site.</li>
    <li>Post anything contrary to our public image, goodwill or reputation.</li>
</ul>
<p>This list of prohibitions provides examples and is not complete or exclusive. THE COMPANY reserves the right to (a)
    terminate access to your account, your ability to post to this Site (or use the Services) and (b) refuse, delete or
    remove any Submissions; with or without cause and with or without notice, for any reason or no reason, or for any
    action that THE COMPANY determines is inappropriate or disruptive to this Site or to any other user of this Site
    and/or Services. THE COMPANY may report to law enforcement authorities any actions that may be illegal, and any
    reports it receives of such conduct. When legally required or at THE COMPANY&rsquo;s discretion, THE COMPANY will
    cooperate with law enforcement agencies in any investigation of alleged illegal activity on this Site or on the
    Internet.</p>
<p>Unauthorized use of any Materials or Third-Party Content contained on this Site may violate certain laws and
    regulations. You agree to indemnify and hold THE COMPANY and its officers, directors, employees, affiliates, agents,
    licensors, and business partners harmless from and against any and all costs, damages, liabilities, and expenses
    (including attorneys&rsquo; fees and costs of defense) THE COMPANY or any other indemnified party suffers in
    relation to, arising from, or for the purpose of avoiding, any claim or demand from a third-party that your use of
    this Site or the use of this Site by any person using your user name and/or password (including without limitation,
    your participation in the posting areas or, your Submissions) violates any applicable law or regulation, or the
    copyrights, trademark rights or other rights of any third-party.</p>
<h3>Local Laws; Export Control.</h3>
<p>THE COMPANY is registered in Dover, Delaware, Kent County. The registered address is 1679 S. Dupont Hwy., Suite 100,
    Dover, DE 19902 and and operates this Site from its headquarters 6004 S. Kipling Pkwy, Littleton, CO, 80127, United
    States of America&nbsp;and the Materials may not be appropriate or available for use in other locations. If you use
    this Site outside the United States of America, you are responsible for following applicable local laws.</p>
<h3>Feedback.</h3>
<p>If you send or transmit any communications, comments, questions, suggestions, or related materials to THE COMPANY,
    whether by letter, email, telephone, or otherwise (collectively, &ldquo;Feedback&rdquo;), suggesting or recommending
    changes to the Site, any Services offered through the Site or Materials, including, without limitation,&nbsp;new
    features or functionality relating thereto, all such Feedback is, and will be treated as, non-confidential and
    nonproprietary. You hereby assign all right, title, and interest in, and THE COMPANY is free to use, without any
    attribution or compensation to you, any ideas, know-how, concepts, techniques, or other intellectual property and
    proprietary rights contained in the Feedback, whether or not patentable, for any purpose whatsoever, including but
    not limited to; developing, manufacturing, having manufactured, licensing, marketing, and selling, directly or
    indirectly, products and services using such Feedback. You understand and agree that THE COMPANY is not obligated to
    use, display, reproduce, or distribute any such ideas, know-how, concepts, or techniques contained in the Feedback,
    and you have no right to compel such use, display, reproduction, or distribution.</p>
<p>Please read this carefully. It affects your rights.</p>
<p>Most customer concerns can be resolved quickly and to a customer&rsquo;s satisfaction by contacting us at
    info@StatRoute.com. This Provision facilitates the prompt and efficient resolution of any disputes that may arise
    between you and THE COMPANY. Arbitration is a form of private dispute resolution in which persons with a dispute
    waive their rights to file a lawsuit, to proceed in court and to a jury trial, and instead submit their disputes to
    a neutral third person (or arbitrator) for a binding decision. You have the right to opt-out of this Provision (as
    explained below), which means you would retain your right to litigate your disputes in a court, either before a
    judge or jury.</p>
<p>Please read this Provision carefully. It provides that all Disputes between you and THE COMPANY shall be resolved by
    binding arbitration. Arbitration replaces the right to go to court. In the absence of this arbitration agreement,
    you may otherwise have a right or opportunity to bring claims in a court, before a judge or jury, and/or to
    participate in or be represented in a case filed in court by others (including, but not limited to, class actions).
    Except as otherwise provided, entering into this agreement constitutes a waiver of your right to litigate claims and
    all opportunity to be heard by a judge or jury. There is no judge or jury in arbitration, and court review of an
    arbitration award is limited. The arbitrator must follow this agreement and can award the same damages and relief as
    a court (including attorney&rsquo;s fees).</p>
<p>For the purpose of this Provision, &ldquo;THE COMPANY&rdquo; means THE COMPANY and its parents, subsidiary, and
    affiliate companies, and each of their respective officers, directors, employees, and agents. The term &ldquo;Dispute&rdquo;
    means any dispute, claim, or controversy between you and THE COMPANY regarding any aspect of your relationship with
    THE COMPANY, whether based in contract, statute, regulation, ordinance, tort (including, but not limited to, fraud,
    misrepresentation, fraudulent inducement, or negligence), or any other legal or equitable theory, and includes the
    validity, enforceability or scope of this Provision (with the exception of the enforceability of the Class Action
    Waiver clause below). &ldquo;Dispute&rdquo; is to be given the broadest possible meaning that will be enforced, and
    shall include any claims against other parties relating to services or products provided or billed to you (such as
    THE COMPANY&rsquo;s licensors, suppliers, dealers or third-party vendors) whenever you also assert claims against us
    in the same proceeding.</p>
<p>WE EACH AGREE THAT, EXCEPT AS PROVIDED BELOW, ANY AND ALL DISPUTES, AS DEFINED ABOVE, WHETHER PRESENTLY IN EXISTENCE
    OR BASED ON ACTS OR OMISSIONS IN THE PAST OR IN THE FUTURE, WILL BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING
    ARBITRATION RATHER THAN IN COURT IN ACCORDANCE WITH THIS PROVISION.</p>
<h3>Pre-Arbitration Claim Resolution</h3>
<p>For all Disputes, whether pursued in court or arbitration, you must first give THE COMPANY an opportunity to resolve
    the Dispute. You must commence this process by mailing a written notification to THE COMPANY, StatRoute INC. 6004 S.
    Kipling Pkwy, Suite 208-4,, Littleton, CO, 80127. That written notification must include (1) your name, (2) your
    address, (3) a written description of your Claim, and (4) a description of the specific relief you seek. If THE
    COMPANY does not resolve the Dispute within 45 days after it receives your written notification, you may pursue your
    Dispute in arbitration. You may pursue your Dispute in a court only under the circumstances described below.</p>
<h3>Exclusions from Arbitration/Right to Opt Out</h3>
<p>Notwithstanding the above, you or THE COMPANY may choose to pursue a Dispute in court and not by arbitration if (a)
    the Dispute qualifies, it may be initiated in small claims court; or (b) YOU OPT-OUT OF THESE ARBITRATION PROCEDURES
    WITHIN 30 DAYS FROM THE DATE THAT YOU FIRST CONSENT TO THIS AGREEMENT (the &ldquo;Opt-Out Deadline&rdquo;). You may
    opt out of this Provision by mailing written notification to THE COMPANY, StatRoute INC. 6004 S. Kipling Pkwy, Suite
    208-4,, Littleton, CO, 80127. Your written notification must include (1) your name, (2) your address, and (3) a
    clear statement that you do not wish to resolve disputes with THE COMPANY through arbitration. Your decision to
    opt-out of this Arbitration Provision will have no adverse effect on your relationship with THE COMPANY. Any opt-out
    request received after the Opt-Out Deadline will not be valid and you must pursue your Dispute in arbitration or
    small claims court.</p>
<h3>Arbitration Procedures</h3>
<p>If this Provision applies and the Dispute is not resolved as provided above (Pre-Arbitration Claim Resolution) either
    you or THE COMPANY may initiate arbitration proceedings. The American Arbitration Association (&ldquo;AAA&rdquo;),
    www.adr.org, or JAMS, www.jamsadr.com, will arbitrate all Disputes, and the arbitration will be conducted before a
    single arbitrator. The arbitration shall be commenced as an individual arbitration, and shall in no event be
    commenced as a class arbitration. All issues shall be for the arbitrator to decide, including the scope of this
    Provision.</p>
<p>For arbitration before AAA, for Disputes of less than $75,000, the AAA&rsquo;s Supplementary Procedures for
    Consumer-Related Disputes will apply; for Disputes involving $75,000 or more, the AAA&rsquo;s Commercial Arbitration
    Rules will apply. In either instance, the AAA&rsquo;s Optional Rules For Emergency Measures Of Protection shall
    apply. The AAA rules are available at www.adr.org or by calling 1-800-778-7879. For arbitration before JAMS, the
    JAMS Comprehensive Arbitration Rules &amp; Procedures and the JAMS Recommended Arbitration Discovery Protocols For
    Domestic, Commercial Cases will apply. The JAMS rules are available at www.jamsadr.com or by calling 1-800-352-5267.
    This Provision governs in the event it conflicts with the applicable arbitration rules. Under no circumstances will
    class action procedures or rules apply to the arbitration. Because the Site and these Terms concern interstate
    commerce, the Federal Arbitration Act (&ldquo;FAA&rdquo;) governs the arbitrability of all Disputes. However, the
    arbitrator will apply applicable substantive law consistent with the FAA and the applicable statute of limitations
    or condition precedent to suit.</p>
<p>Arbitration Award &ndash; The arbitrator may award on an individual basis any relief that would be available pursuant
    to applicable law, and will not have the power to award relief to, against or for the benefit of any person who is
    not a party to the proceeding. The arbitrator will make any award in writing but need not provide a statement of
    reasons unless requested by a party. Such award will be final and binding on the parties, except for any right of
    appeal provided by the FAA, and may be entered in any court having jurisdiction over the parties for purposes of
    enforcement.</p>
<p>Location of Arbitration &ndash; You or THE COMPANY may initiate arbitration in either Denver, Colorado or the federal
    judicial district that includes your billing address. In the event that you select the federal judicial district
    that includes your billing address, THE COMPANY may transfer the arbitration to Denver, Colorado in the event that
    it agrees to pay any additional fees or costs you incur as a result of the transfer, as determined by the
    arbitrator.</p>
<p>Payment of Arbitration Fees and Costs &ndash; THE COMPANY will pay all arbitration filing fees and arbitrator&rsquo;s
    costs and expenses upon your written request given prior to the commencement of the arbitration. You are responsible
    for all additional fees and costs that you incur in the arbitration, including, but not limited to, attorneys or
    expert witnesses. Fees and costs may be awarded as provided pursuant to applicable law. In addition to any rights to
    recover fees and costs under applicable law, if you provide notice and negotiate in good faith with THE COMPANY as
    provided in the section above titled &ldquo;Pre-Arbitration Claim Resolution&rdquo; and the arbitrator concludes
    that you are the prevailing party in the arbitration, you will be entitled to recover reasonable attorney&rsquo;s
    fees and costs as determined by the arbitrator.</p>
<h3>Class Action Waiver</h3>
<p>Except as otherwise provided in this Provision, the arbitrator may not consolidate more than one person&rsquo;s
    claims, and may not otherwise preside over any form of a class or representative proceeding or claims (such as a
    class action, consolidated action or private attorney general action) unless both you and THE COMPANY specifically
    agree to do so following initiation of the arbitration. If you choose to pursue your Dispute in court by opting out
    of the Arbitration Provision, as specified above, this Class Action Waiver will not apply to you. Neither you, nor
    any other user of the Site can be a class representative, class member, or otherwise participate in a class,
    consolidated, or representative proceeding without having complied with the opt-out requirements above.</p>
<h3>Contact Us.</h3>
<p>If you have any questions about these Terms or otherwise need to contact THE COMPANY for any reason, you can reach us
    by mail at 6004 S Kipling Pkwy. Suite 208-4, Littleton, CO, 80127 or by email at <a href="mailto:info@StatRoute.com">info@StatRoute.com</a>.</p>