<h1>{{title}}</h1>
<div class="news_infopruh">
    {{#each tags}}
        <span>{{this}}</span>
    {{/each}}
    <span>{{date}}</span>
</div>

<div class="headimg" style="background-image: url({{image}});"></div>

<p>Tennessee Titans defensive coordinator Dick Lebeau is one of the best defensive minds in the NFL, and he’s been at it
    for quite a long time. 2017 will mark his 46th season as a NFL coach, predominately calling the plays on defense.
    Lebeau ran the Steelers defense from 2004-2014 orchestrating five seasons as the league’s number one defense (2004,
    2007, 2008, 2011 and 2012), winning three AFC Championships (2005, 2008 and 2010) and two Super Bowls (XL & XLIII)
    in that span.</p>

<p>Lebeau is credited with refining and popularizing the zone blitz during the early 1990s. This scheme can be
    attributed to much of his NFL coaching success. The zone blitz was a response to so many other NFL teams adopting
    Bill Walsh’s West Coast Offense. “Those were all quick-rhythm, get-the-ball-out-of-your-hands-and-cut-up-the-defense
    types of passing games. We were just looking for ways to get pressure without exposing our defensive backs to have
    to cover the whole field all of the time,” said Lebeau. This style of defense centers on limiting players who
    typically feast on short, slant route receptions in lieu of running plays—many of those players you were high on for
    your PPR leagues.</p>

<p>
    In the past 10 years, Lebeau’s defenses have ranked near the top in almost every category, including: points
    allowed, total yards per game, rushing yards allowed per game, total first downs allowed per game, passing
    touchdowns allowed, sacks, and third down percentage.
</p>

<style>
    table thead h2 {
        text-align: center;
    }

    table thead p {
        font-weight: 700 !important;
    }

    table thead tr:hover h2 {
        color: #2f7eba !important;
    }

    table thead tr:hover * {
        color: inherit !important;
    }
</style>
<div class="Comp-Table">
    <table class="maintable">
        <thead>
        <tr>
            <td colspan="12" rowspan="1">
                <h2>DC Dick Lebeau, Team Defense Statistics, Past 10 Seasons</h2>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>Year</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>Team</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>OvrRank</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>TotPts</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>Pts/G</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>TotYds</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>Yds/G</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>RushYds</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>RYds/G</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PassYds</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PYds/G</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>TO</p>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2007</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2nd</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>269</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>16.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,262</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>266.4</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,438</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>89.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2,824</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>176.5</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>25</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2008</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1st</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>223</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>13.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>3,795</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>237.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,284</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>80.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2,511</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>156.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>29</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2009</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>13th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>324</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>20.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,885</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>305.3</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,438</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>89.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>3,447</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>215.4</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>22</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2010</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1st</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>232</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>14.5</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,429</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>276.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,004</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>62.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>3,425</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>214.1</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>35</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2011</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1st</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>227</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>14.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,348</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>271.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,597</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>99.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2,751</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>171.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>15</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2012</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>6th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>314</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>19.6</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,413</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>275.8</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,450</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>90.6</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>2,963</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>185.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>20</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2013</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>14th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>370</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>23.1</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>5,402</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>337.6</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,849</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>115.6</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>3,553</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>222.1</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>20</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2014</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>PIT</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>18th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>368</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>23</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>5,654</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>353.4</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,605</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>100.3</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,049</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>253.1</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>21</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2015</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>TEN</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>27th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>423</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>26.4</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>5,475</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>342.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,797</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>112.3</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>3,678</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>229.9</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>19</p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <p>2016</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>TEN</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>17th</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>378</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>23.6</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>5,720</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>357.5</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>1,413</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>88.3</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>4,307</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>269.2</p>
            </td>
            <td colspan="1" rowspan="1">
                <p>18</p>
            </td>
        </tr>
        </thead>
    </table>
</div>
<p>While Lebeau’s defenses don’t typically rank high in turnovers, they do a great job at keeping
    opponents from moving the ball down the field and into the endzone. John Madden once said, “The best way to gain
    more yards is advance the ball down the field from the line of scrimmage.” No truer words have ever been spoken, and
    Lebeau has a history of limiting the opponent’s yards and points. You might want to consider your matchups for any
    games your players have against the Titans in 2017.</p>