.teamColor-ARI, .Comp-Teams .team-ARI:hover, .Comp-Versus .team-ARI:hover {
  background: #97233F !important; }

.teamColor-ATL, .Comp-Teams .team-ATL:hover, .Comp-Versus .team-ATL:hover {
  background: #A6192E !important; }

.teamColor-BAL, .Comp-Teams .team-BAL:hover, .Comp-Versus .team-BAL:hover {
  background: #241773 !important; }

.teamColor-BUF, .Comp-Teams .team-BUF:hover, .Comp-Versus .team-BUF:hover {
  background: #00338D !important; }

.teamColor-CAR, .Comp-Teams .team-CAR:hover, .Comp-Versus .team-CAR:hover {
  background: #0085CA !important; }

.teamColor-CHI, .Comp-Teams .team-CHI:hover, .Comp-Versus .team-CHI:hover {
  background: #051C2C !important; }

.teamColor-CIN, .Comp-Teams .team-CIN:hover, .Comp-Versus .team-CIN:hover {
  background: #FC4C02 !important; }

.teamColor-CLE, .Comp-Teams .team-CLE:hover, .Comp-Versus .team-CLE:hover {
  background: #382F2D !important; }

.teamColor-DAL, .Comp-Teams .team-DAL:hover, .Comp-Versus .team-DAL:hover {
  background: #003594 !important; }

.teamColor-DEN, .Comp-Teams .team-DEN:hover, .Comp-Versus .team-DEN:hover {
  background: #FC4C02 !important; }

.teamColor-DET, .Comp-Teams .team-DET:hover, .Comp-Versus .team-DET:hover {
  background: #0069B1 !important; }

.teamColor-GNB, .Comp-Teams .team-GNB:hover, .Comp-Versus .team-GNB:hover {
  background: #175E33 !important; }

.teamColor-HOU, .Comp-Teams .team-HOU:hover, .Comp-Versus .team-HOU:hover {
  background: #091F2C !important; }

.teamColor-IND, .Comp-Teams .team-IND:hover, .Comp-Versus .team-IND:hover {
  background: #001489 !important; }

.teamColor-JAX, .Comp-Teams .team-JAX:hover, .Comp-Versus .team-JAX:hover {
  background: #D49F12 !important; }

.teamColor-KAN, .Comp-Teams .team-KAN:hover, .Comp-Versus .team-KAN:hover {
  background: #C8102E !important; }

.teamColor-LAC, .Comp-Teams .team-LAC:hover, .Comp-Versus .team-LAC:hover {
  background: #0C2340 !important; }

.teamColor-LAR, .Comp-Teams .team-LAR:hover, .Comp-Versus .team-LAR:hover {
  background: #002244 !important; }

.teamColor-MIA, .Comp-Teams .team-MIA:hover, .Comp-Versus .team-MIA:hover {
  background: #008E97 !important; }

.teamColor-MIN, .Comp-Teams .team-MIN:hover, .Comp-Versus .team-MIN:hover {
  background: #512D6D !important; }

.teamColor-NEW, .Comp-Teams .team-NEW:hover, .Comp-Versus .team-NEW:hover {
  background: #0C2340 !important; }

.teamColor-NOR, .Comp-Teams .team-NOR:hover, .Comp-Versus .team-NOR:hover {
  background: #A28D5B !important; }

.teamColor-NYG, .Comp-Teams .team-NYG:hover, .Comp-Versus .team-NYG:hover {
  background: #001E62 !important; }

.teamColor-NYJ, .Comp-Teams .team-NYJ:hover, .Comp-Versus .team-NYJ:hover {
  background: #0C371D !important; }

.teamColor-OAK, .Comp-Teams .team-OAK:hover, .Comp-Versus .team-OAK:hover {
  background: #101820 !important; }

.teamColor-PHI, .Comp-Teams .team-PHI:hover, .Comp-Versus .team-PHI:hover {
  background: #004851 !important; }

.teamColor-PIT, .Comp-Teams .team-PIT:hover, .Comp-Versus .team-PIT:hover {
  background: #FFB81C !important; }

.teamColor-SFO, .Comp-Teams .team-SFO:hover, .Comp-Versus .team-SFO:hover {
  background: #9B2743 !important; }

.teamColor-SEA, .Comp-Teams .team-SEA:hover, .Comp-Versus .team-SEA:hover {
  background: #001433 !important; }

.teamColor-TAM, .Comp-Teams .team-TAM:hover, .Comp-Versus .team-TAM:hover {
  background: #C8102E !important; }

.teamColor-TEN, .Comp-Teams .team-TEN:hover, .Comp-Versus .team-TEN:hover {
  background: #0C2340 !important; }

.teamColor-WAS, .Comp-Teams .team-WAS:hover, .Comp-Versus .team-WAS:hover {
  background: #862633 !important; }

.teamFontColor-ARI span {
  color: #97233F !important; }

.teamFontColor-ARI {
  color: #97233F; }

.teamFontColor-ATL span {
  color: #A6192E !important; }

.teamFontColor-ATL {
  color: #A6192E; }

.teamFontColor-BAL span {
  color: #241773 !important; }

.teamFontColor-BAL {
  color: #241773; }

.teamFontColor-BUF span {
  color: #00338D !important; }

.teamFontColor-BUF {
  color: #00338D; }

.teamFontColor-CAR span {
  color: #0085CA !important; }

.teamFontColor-CAR {
  color: #0085CA; }

.teamFontColor-CHI span {
  color: #051C2C !important; }

.teamFontColor-CHI {
  color: #051C2C; }

.teamFontColor-CIN span {
  color: #FC4C02 !important; }

.teamFontColor-CIN {
  color: #FC4C02; }

.teamFontColor-CLE span {
  color: #382F2D !important; }

.teamFontColor-CLE {
  color: #382F2D; }

.teamFontColor-DAL span {
  color: #003594 !important; }

.teamFontColor-DAL {
  color: #003594; }

.teamFontColor-DEN span {
  color: #FC4C02 !important; }

.teamFontColor-DEN {
  color: #FC4C02; }

.teamFontColor-DET span {
  color: #0069B1 !important; }

.teamFontColor-DET {
  color: #0069B1; }

.teamFontColor-GNB span {
  color: #175E33 !important; }

.teamFontColor-GNB {
  color: #175E33; }

.teamFontColor-HOU span {
  color: #091F2C !important; }

.teamFontColor-HOU {
  color: #091F2C; }

.teamFontColor-IND span {
  color: #001489 !important; }

.teamFontColor-IND {
  color: #001489; }

.teamFontColor-JAX span {
  color: #D49F12 !important; }

.teamFontColor-JAX {
  color: #D49F12; }

.teamFontColor-KAN span {
  color: #C8102E !important; }

.teamFontColor-KAN {
  color: #C8102E; }

.teamFontColor-LAC span {
  color: #0C2340 !important; }

.teamFontColor-LAC {
  color: #0C2340; }

.teamFontColor-LAR span {
  color: #002244 !important; }

.teamFontColor-LAR {
  color: #002244; }

.teamFontColor-MIA span {
  color: #008E97 !important; }

.teamFontColor-MIA {
  color: #008E97; }

.teamFontColor-MIN span {
  color: #512D6D !important; }

.teamFontColor-MIN {
  color: #512D6D; }

.teamFontColor-NEW span {
  color: #0C2340 !important; }

.teamFontColor-NEW {
  color: #0C2340; }

.teamFontColor-NOR span {
  color: #A28D5B !important; }

.teamFontColor-NOR {
  color: #A28D5B; }

.teamFontColor-NYG span {
  color: #001E62 !important; }

.teamFontColor-NYG {
  color: #001E62; }

.teamFontColor-NYJ span {
  color: #0C371D !important; }

.teamFontColor-NYJ {
  color: #0C371D; }

.teamFontColor-OAK span {
  color: #101820 !important; }

.teamFontColor-OAK {
  color: #101820; }

.teamFontColor-PHI span {
  color: #004851 !important; }

.teamFontColor-PHI {
  color: #004851; }

.teamFontColor-PIT span {
  color: #FFB81C !important; }

.teamFontColor-PIT {
  color: #FFB81C; }

.teamFontColor-SFO span {
  color: #9B2743 !important; }

.teamFontColor-SFO {
  color: #9B2743; }

.teamFontColor-SEA span {
  color: #001433 !important; }

.teamFontColor-SEA {
  color: #001433; }

.teamFontColor-TAM span {
  color: #C8102E !important; }

.teamFontColor-TAM {
  color: #C8102E; }

.teamFontColor-TEN span {
  color: #0C2340 !important; }

.teamFontColor-TEN {
  color: #0C2340; }

.teamFontColor-WAS span {
  color: #862633 !important; }

.teamFontColor-WAS {
  color: #862633; }
