.stat-ip .mainright {
  height: calc(100vh - 82px);
  overflow-y: auto;
  padding-bottom: 0; }
  @media screen and (max-height: 1000px) {
    .stat-ip .mainright {
      height: auto;
      max-height: 1000px; } }

.stat-ip .compare-button.compare-button_get_premium {
  padding-right: 50px; }
