@import "../../../variables";

.Comp-SignIn {
  
  input.error {
    outline-color: #c1272d;
    outline-style: auto;
    outline-offset: -2px;
  }
  
  p.error {
    margin-top: 15px;
    margin-bottom: -10px;
    color: #c1272d;
  }
  
  .signinupwrap {
    
    @media #{$width-800-down}{
      min-height: inherit;
    }
    
    .signinupform {
      max-width: 100%;
      
      .inputs {
        @media #{$width-800-down}{
          padding-left: 40px;
          padding-right: 40px;
        }
        @media #{$width-600-down}{
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}